.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Titillium web', sans-serif;
	font-weight: bold;
  font-size: 35px;
}

.App-header {
  font-size: 50px;
  padding: 35px;
  text-transform: uppercase;
}
